################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProgrammingExercises/v15
/ProgrammingExercises/bin
/ProgrammingExercises/obj
/ProgrammingExercises/ProgrammingExercises_wk2.csproj.user
/ProgrammingExercises/ProgrammingExercises_wk2_TemporaryKey.pfx
